@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant rater</h1>
    <p class="lead">The restaurant rater lets you rate restaraunts!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visit restaurants</h2>
        <p>
            Visit some of the places you'd love to visit!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Some to visit &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Decide how good it is</h2>
        <p>Rate your service, food, and other things!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leave your rating &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Share it!</h2>
        <p>Share your thoughts, and read what others have said.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">See what others though &raquo;</a></p>
    </div>
</div>